.mediaViewInfo {
    --web-view-name: ::::Home second yello;
    --web-view-id: Home_second_yello;
    --web-scale-on-resize: true;
    --web-show-by-media-query: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Home_second_yello;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Home_second_yello {
    position: absolute;
    width: 1920px;
    height: 7088px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: ::::Home second yello;
    --web-view-id: Home_second_yello;
    --web-scale-on-resize: true;
    --web-show-by-media-query: true;
    --web-enable-deep-linking: true;
}
#Soustraction_8 {
    fill: rgba(255,221,0,1);
}
.Soustraction_8 {
    overflow: visible;
    position: absolute;
    width: 1374.028px;
    height: 507.659px;
    left: 545.973px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Soustraction_9 {
    fill: rgba(255,255,255,1);
}
.Soustraction_9 {
    overflow: visible;
    position: absolute;
    width: 1976px;
    height: 1265px;
    left: -56px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Soustraction_7 {
    fill: rgba(217,232,255,1);
}
.Soustraction_7 {
    overflow: visible;
    position: absolute;
    width: 1932.816px;
    height: 1151.056px;
    left: -12.816px;
    top: -0.001px;
    transform: matrix(1,0,0,1,0,0);
}
#Soustraction_6 {
    fill: rgba(23,113,255,1);
}
.Soustraction_6 {
    overflow: visible;
    position: absolute;
    width: 1822.496px;
    height: 890.054px;
    left: 97.504px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Soustraction_14 {
    fill: rgba(255,255,255,1);
}
.Soustraction_14 {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 1801.327px;
    left: 0px;
    top: 2522.629px;
    transform: matrix(1,0,0,1,0,0);
}
#Soustraction_11 {
    opacity: 0.6;
    fill: rgba(23,113,255,1);
}
.Soustraction_11 {
    overflow: visible;
    position: absolute;
    width: 1887.129px;
    height: 1685.855px;
    left: 0px;
    top: 2599.745px;
    transform: matrix(1,0,0,1,0,0);
}
#Ellipse_4 {
    opacity: 0.3;
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 20px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ellipse_4 {
    position: absolute;
    overflow: visible;
    width: 86px;
    height: 86px;
    left: 270px;
    top: 720px;
}
#Groupe_151 {
    position: absolute;
    width: 97px;
    height: 40px;
    left: 178px;
    top: 67px;
    overflow: visible;
}
#NINT {
    left: 6px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 84px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}
#Rectangle_556 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_556 {
    position: absolute;
    overflow: visible;
    width: 97px;
    height: 35px;
    left: 0px;
    top: 4px;
}
#Groupe_193 {
    position: absolute;
    width: 251px;
    height: 58px;
    left: 1539px;
    top: 56px;
    overflow: visible;
}
#Rectangle_474 {
    fill: rgba(64,153,255,1);
    stroke: rgba(27,148,237,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_474 {
    filter: drop-shadow(0px 30px 50px rgba(0, 112, 194, 0.2));
    position: absolute;
    overflow: visible;
    width: 401px;
    height: 208px;
    left: 0px;
    top: 0px;
}
#n_ {
    left: 332px;
    top: 519px;
    position: absolute;
    overflow: visible;
    width: 12px;
    white-space: nowrap;
    line-height: 97px;
    margin-top: -30px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    color: rgba(255,83,83,1);
    letter-spacing: -0.07px;
}
#Groupe_235 {
    position: absolute;
    width: 708px;
    height: 441px;
    left: 606px;
    top: 239px;
    overflow: visible;
}
#Product_Analytics_explained {
    left: 4px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 701px;
    height: 205px;
    line-height: 97px;
    margin-top: -11px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.07px;
}
#Groupe_154 {
    position: absolute;
    width: 666.172px;
    height: 77px;
    left: 21px;
    top: 364px;
    overflow: visible;
}
#Groupe_152 {
    position: absolute;
    width: 229.672px;
    height: 77px;
    left: 436.5px;
    top: 0px;
    overflow: visible;
}
#Rectangle_454 {
    fill: rgba(255,231,0,1);
}
.Rectangle_454 {
    filter: drop-shadow(0px 30px 50px rgba(27, 148, 237, 0.302));
    position: absolute;
    overflow: visible;
    width: 379.672px;
    height: 227px;
    left: 0px;
    top: 0px;
}
#Try_for_free {
    left: 51px;
    top: 26px;
    position: absolute;
    overflow: visible;
    width: 133px;
    white-space: nowrap;
    line-height: 91px;
    margin-top: -34px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 23px;
    color: rgba(30,28,36,1);
    letter-spacing: 0.4px;
}
#Groupe_153 {
    position: absolute;
    width: 414.672px;
    height: 77px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_455 {
    fill: rgba(255,255,255,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_455 {
    position: absolute;
    overflow: visible;
    width: 414.672px;
    height: 77px;
    left: 0px;
    top: 0px;
}
#Namecompanycom {
    opacity: 0.38;
    left: 25.121px;
    top: 29.224px;
    position: absolute;
    overflow: visible;
    width: 236px;
    white-space: nowrap;
    line-height: 91px;
    margin-top: -35.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(30,28,36,0.851);
    letter-spacing: 0.4px;
}
#There_are_many_variations_of_p {
    opacity: 0.6;
    left: 0px;
    top: 224px;
    position: absolute;
    overflow: visible;
    width: 709px;
    height: 80px;
    line-height: 35px;
    margin-top: -7.5px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Groupe_239 {
    opacity: 0.36;
    position: absolute;
    width: 1146.664px;
    height: 195.619px;
    left: 390px;
    top: 1628px;
    overflow: visible;
}
#Groupe_237 {
    position: absolute;
    width: 1146.664px;
    height: 58.831px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Cartoon_Network_logo {
    position: absolute;
    width: 97px;
    height: 58.831px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Trac_338 {
    fill: rgba(53,107,178,1);
}
.Trac_338 {
    overflow: visible;
    position: absolute;
    width: 49.15px;
    height: 49.137px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_339 {
    fill: rgba(53,107,178,1);
}
.Trac_339 {
    overflow: visible;
    position: absolute;
    width: 42.116px;
    height: 42.113px;
    left: 52.676px;
    top: 3.522px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_340 {
    fill: rgba(53,107,178,1);
}
.Trac_340 {
    overflow: visible;
    position: absolute;
    width: 5.829px;
    height: 6.253px;
    left: 1.632px;
    top: 52.578px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_341 {
    fill: rgba(53,107,178,1);
}
.Trac_341 {
    overflow: visible;
    position: absolute;
    width: 5.863px;
    height: 5.863px;
    left: 27.702px;
    top: 52.773px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_342 {
    fill: rgba(53,107,178,1);
}
.Trac_342 {
    overflow: visible;
    position: absolute;
    width: 5.861px;
    height: 5.861px;
    left: 77.913px;
    top: 52.775px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_343 {
    fill: rgba(53,107,178,1);
}
.Trac_343 {
    overflow: visible;
    position: absolute;
    width: 6.75px;
    height: 6.001px;
    left: 7.588px;
    top: 52.704px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_344 {
    fill: rgba(53,107,178,1);
}
.Trac_344 {
    overflow: visible;
    position: absolute;
    width: 5.745px;
    height: 6.001px;
    left: 14.944px;
    top: 52.704px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_345 {
    fill: rgba(53,107,178,1);
}
.Trac_345 {
    overflow: visible;
    position: absolute;
    width: 6.013px;
    height: 6.001px;
    left: 21.235px;
    top: 52.703px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_346 {
    fill: rgba(53,107,178,1);
}
.Trac_346 {
    overflow: visible;
    position: absolute;
    width: 6px;
    height: 6.001px;
    left: 41.151px;
    top: 52.704px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_347 {
    fill: rgba(53,107,178,1);
}
.Trac_347 {
    overflow: visible;
    position: absolute;
    width: 6px;
    height: 6.001px;
    left: 51.21px;
    top: 52.704px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_348 {
    fill: rgba(53,107,178,1);
}
.Trac_348 {
    overflow: visible;
    position: absolute;
    width: 5.24px;
    height: 6px;
    left: 58.073px;
    top: 52.704px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_349 {
    fill: rgba(53,107,178,1);
}
.Trac_349 {
    overflow: visible;
    position: absolute;
    width: 6.013px;
    height: 6.001px;
    left: 63.976px;
    top: 52.703px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_350 {
    fill: rgba(53,107,178,1);
}
.Trac_350 {
    overflow: visible;
    position: absolute;
    width: 7.035px;
    height: 6.001px;
    left: 70.49px;
    top: 52.703px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_351 {
    fill: rgba(53,107,178,1);
}
.Trac_351 {
    overflow: visible;
    position: absolute;
    width: 5.744px;
    height: 6.001px;
    left: 84.553px;
    top: 52.704px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_352 {
    fill: rgba(53,107,178,1);
}
.Trac_352 {
    overflow: visible;
    position: absolute;
    width: 6.063px;
    height: 6.001px;
    left: 90.937px;
    top: 52.703px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_353 {
    fill: rgba(53,107,178,1);
}
.Trac_353 {
    overflow: visible;
    position: absolute;
    width: 5.861px;
    height: 5.86px;
    left: 34.487px;
    top: 52.775px;
    transform: matrix(1,0,0,1,0,0);
}
#Bookingcom_logo {
    position: absolute;
    width: 262.295px;
    height: 43.693px;
    left: 231px;
    top: 8px;
    overflow: visible;
}
#logo_2_ {
    fill: rgba(53,107,178,1);
}
.logo_2_ {
    overflow: visible;
    position: absolute;
    width: 163.142px;
    height: 43.693px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#logo_1_ {
    fill: rgba(53,107,178,1);
}
.logo_1_ {
    overflow: visible;
    position: absolute;
    width: 96.469px;
    height: 25.046px;
    left: 165.826px;
    top: 9.771px;
    transform: matrix(1,0,0,1,0,0);
}
#Dropbox_logo {
    position: absolute;
    width: 229.235px;
    height: 45.146px;
    left: 627px;
    top: 7px;
    overflow: visible;
}
#Trac_354 {
    fill: rgba(53,107,178,1);
}
.Trac_354 {
    overflow: visible;
    position: absolute;
    width: 53.166px;
    height: 45.146px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_355 {
    fill: rgba(53,107,178,1);
}
.Trac_355 {
    overflow: visible;
    position: absolute;
    width: 165.674px;
    height: 38.374px;
    left: 63.561px;
    top: 6.237px;
    transform: matrix(1,0,0,1,0,0);
}
#slack {
    position: absolute;
    width: 155.664px;
    height: 46.632px;
    left: 991px;
    top: 6px;
    overflow: visible;
}
#Trac_360 {
    fill: rgba(53,107,178,1);
}
.Trac_360 {
    overflow: visible;
    position: absolute;
    width: 100.677px;
    height: 35.951px;
    left: 54.987px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_361 {
    fill: rgba(53,107,178,1);
}
.Trac_361 {
    overflow: visible;
    position: absolute;
    width: 40.488px;
    height: 18.745px;
    left: 0px;
    top: 6.359px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_362 {
    fill: rgba(53,107,178,1);
}
.Trac_362 {
    overflow: visible;
    position: absolute;
    width: 40.599px;
    height: 18.898px;
    left: 5.413px;
    top: 22.226px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_363 {
    fill: rgba(53,107,178,1);
}
.Trac_363 {
    overflow: visible;
    position: absolute;
    width: 18.869px;
    height: 40.302px;
    left: 21.551px;
    top: 0.891px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_364 {
    fill: rgba(53,107,178,1);
}
.Trac_364 {
    overflow: visible;
    position: absolute;
    width: 18.881px;
    height: 40.299px;
    left: 5.392px;
    top: 6.333px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_365 {
    fill: rgba(53,107,178,1);
}
.Trac_365 {
    overflow: visible;
    position: absolute;
    width: 10.067px;
    height: 9.951px;
    left: 28.616px;
    top: 23.97px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_366 {
    fill: rgba(53,107,178,1);
}
.Trac_366 {
    overflow: visible;
    position: absolute;
    width: 10.084px;
    height: 10.007px;
    left: 12.464px;
    top: 29.431px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_367 {
    fill: rgba(53,107,178,1);
}
.Trac_367 {
    overflow: visible;
    position: absolute;
    width: 10.044px;
    height: 9.861px;
    left: 23.243px;
    top: 8.03px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_368 {
    fill: rgba(53,107,178,1);
}
.Trac_368 {
    overflow: visible;
    position: absolute;
    width: 10.074px;
    height: 9.954px;
    left: 7.077px;
    top: 13.447px;
    transform: matrix(1,0,0,1,0,0);
}
#Groupe_238 {
    position: absolute;
    width: 1134px;
    height: 56.619px;
    left: 0px;
    top: 139px;
    overflow: visible;
}
#Toshiba_logo {
    opacity: 0.63;
    position: absolute;
    width: 207.103px;
    height: 31.556px;
    left: 0px;
    top: 13px;
    overflow: visible;
}
#a {
    fill: rgba(53,107,178,1);
}
.a {
    overflow: visible;
    position: absolute;
    width: 31.169px;
    height: 30.46px;
    left: 175.934px;
    top: 0.548px;
    transform: matrix(1,0,0,1,0,0);
}
#o {
    fill: rgba(53,107,178,1);
}
.o {
    overflow: visible;
    position: absolute;
    width: 28.865px;
    height: 31.556px;
    left: 30.219px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#t {
    fill: rgba(53,107,178,1);
}
.t {
    overflow: visible;
    position: absolute;
    width: 27.32px;
    height: 30.458px;
    left: 0px;
    top: 0.562px;
    transform: matrix(1,0,0,1,0,0);
}
#i {
    fill: rgba(53,107,178,1);
}
.i {
    position: absolute;
    overflow: visible;
    width: 8.644px;
    height: 30.46px;
    left: 131.111px;
    top: 0.548px;
}
#h {
    fill: rgba(53,107,178,1);
}
.h {
    overflow: visible;
    position: absolute;
    width: 27.174px;
    height: 30.461px;
    left: 96.38px;
    top: 0.548px;
    transform: matrix(1,0,0,1,0,0);
}
#b {
    fill: rgba(53,107,178,1);
}
.b {
    overflow: visible;
    position: absolute;
    width: 26.31px;
    height: 30.46px;
    left: 147.419px;
    top: 0.547px;
    transform: matrix(1,0,0,1,0,0);
}
#s {
    fill: rgba(53,107,178,1);
}
.s {
    overflow: visible;
    position: absolute;
    width: 26.578px;
    height: 31.552px;
    left: 64.093px;
    top: 0.002px;
    transform: matrix(1,0,0,1,0,0);
}
#netflix-2 {
    position: absolute;
    width: 142.072px;
    height: 38.544px;
    left: 991.928px;
    top: 9px;
    overflow: visible;
}
#Trac_359 {
    fill: rgba(53,107,178,1);
}
.Trac_359 {
    overflow: visible;
    position: absolute;
    width: 142.072px;
    height: 38.544px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#coca-cola {
    position: absolute;
    width: 157.117px;
    height: 51.447px;
    left: 703px;
    top: 3px;
    overflow: visible;
}
#Trac_356 {
    fill: rgba(53,107,178,1);
}
.Trac_356 {
    overflow: visible;
    position: absolute;
    width: 68.095px;
    height: 51.447px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_357 {
    fill: rgba(53,107,178,1);
}
.Trac_357 {
    overflow: visible;
    position: absolute;
    width: 140.55px;
    height: 50.207px;
    left: 16.567px;
    top: 0.02px;
    transform: matrix(1,0,0,1,0,0);
}
#Trac_358 {
    fill: rgba(53,107,178,1);
}
.Trac_358 {
    overflow: visible;
    position: absolute;
    width: 52.981px;
    height: 49.646px;
    left: 94.626px;
    top: 0.59px;
    transform: matrix(1,0,0,1,0,0);
}
#spotify-1 {
    fill: rgba(53,107,178,1);
}
.spotify-1 {
    overflow: visible;
    position: absolute;
    width: 188.777px;
    height: 56.619px;
    left: 363.223px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Break_down_measure_and_improve {
    left: 390px;
    top: 4366px;
    position: absolute;
    overflow: visible;
    width: 971px;
    height: 130px;
    line-height: 60px;
    margin-top: -5px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(27,56,94,1);
}
#The_key_questions_answered_by_ {
    left: 567px;
    top: 2022px;
    position: absolute;
    overflow: visible;
    width: 788px;
    height: 132px;
    line-height: 60px;
    margin-top: -5px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(27,56,94,1);
}
#What_clients_are_saying {
    left: 567px;
    top: 5287px;
    position: absolute;
    overflow: visible;
    width: 788px;
    height: 72px;
    line-height: 60px;
    margin-top: -5px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(27,56,94,1);
}
#Groupe_242 {
    position: absolute;
    width: 314px;
    height: 214px;
    left: 412px;
    top: 2282px;
    overflow: visible;
}
#increment_in_maintenance {
    left: 0px;
    top: 85px;
    position: absolute;
    overflow: visible;
    width: 315px;
    white-space: nowrap;
    line-height: 60px;
    margin-top: -17.5px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(27,56,94,1);
}
#n_00 {
    left: 85px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    line-height: 60px;
    margin-top: -4px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    color: rgba(27,148,237,1);
}
#Save_time_avoid_losing_work_an {
    left: 2px;
    top: 136px;
    position: absolute;
    overflow: visible;
    width: 311px;
    height: 78px;
    line-height: 26px;
    margin-top: -5px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(77,102,136,1);
}
#Groupe_241 {
    position: absolute;
    width: 310px;
    height: 214px;
    left: 806.001px;
    top: 2282px;
    overflow: visible;
}
#n__cq {
    left: 112.999px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    line-height: 60px;
    margin-top: -4px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    color: rgba(27,148,237,1);
}
#Groupe_217 {
    position: absolute;
    width: 310px;
    height: 129px;
    left: 0px;
    top: 85px;
    overflow: visible;
}
#increment_in_redesign {
    left: 25px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 261px;
    white-space: nowrap;
    line-height: 60px;
    margin-top: -17.5px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(27,56,94,1);
}
#Tracking_tasks_allows_everyone {
    left: 0px;
    top: 51px;
    position: absolute;
    overflow: visible;
    width: 311px;
    height: 78px;
    line-height: 26px;
    margin-top: -5px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(77,102,136,1);
}
#Groupe_240 {
    position: absolute;
    width: 407.271px;
    height: 360.082px;
    left: 1166px;
    top: 2192.918px;
    overflow: visible;
}
#Groupe_216 {
    position: absolute;
    width: 407.271px;
    height: 360.081px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Groupe_243 {
    position: absolute;
    width: 407.271px;
    height: 360.081px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_559 {
    fill: rgba(255,255,255,1);
}
.Rectangle_559 {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.141));
    position: absolute;
    overflow: visible;
    width: 508px;
    height: 491px;
    left: 0px;
    top: 19.081px;
}
#Trac_378_cz {
    opacity: 0.12;
    fill: url(#Trac_378_cz);
}
.Trac_378_cz {
    overflow: visible;
    position: absolute;
    width: 250.682px;
    height: 138.989px;
    transform: translate(-1165.909px, -1701.919px) matrix(1,0,0,1,1304.7192,1749.8312) rotate(-26deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#n_00K {
    left: 108px;
    top: 89.081px;
    position: absolute;
    overflow: visible;
    width: 163px;
    white-space: nowrap;
    line-height: 60px;
    margin-top: -4px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    color: rgba(27,148,237,1);
}
#saved_annually {
    left: 96px;
    top: 174.081px;
    position: absolute;
    overflow: visible;
    width: 185px;
    white-space: nowrap;
    line-height: 60px;
    margin-top: -17.5px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(27,56,94,1);
}
#Tracking_tasks_allows_everyone_c {
    left: 33px;
    top: 225.081px;
    position: absolute;
    overflow: visible;
    width: 311px;
    height: 78px;
    line-height: 26px;
    margin-top: -5px;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(77,102,136,1);
}
#Ellipse_23 {
    fill: rgba(255,255,255,1);
}
.Ellipse_23 {
    position: absolute;
    overflow: visible;
    width: 4px;
    height: 4px;
    left: 1322px;
    top: 2270px;
}
#Groupe_225 {
    position: absolute;
    width: 858px;
    height: 38px;
    left: 390px;
    top: 4538px;
    overflow: visible;
}
#Collect_accurate_data {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 186px;
    height: 28px;
    line-height: 30px;
    margin-top: -6px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(27,56,94,1);
}
#Ligne_2 {
    fill: transparent;
    stroke: rgba(235,235,235,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_2 {
    overflow: visible;
    position: absolute;
    width: 858px;
    height: 2px;
    left: 0px;
    top: 38px;
    transform: matrix(1,0,0,1,0,0);
}
#Ligne_1 {
    fill: transparent;
    stroke: rgba(19,112,246,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Ligne_1 {
    overflow: visible;
    position: absolute;
    width: 189px;
    height: 2px;
    left: 669px;
    top: 38px;
    transform: matrix(1,0,0,1,0,0);
}
#Groupe_248 {
    position: absolute;
    width: 127px;
    height: 28px;
    left: 633px;
    top: 4538px;
    overflow: visible;
}
#Identify_trends {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 128px;
    height: 28px;
    line-height: 30px;
    margin-top: -6px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(77,102,136,1);
}
#Groupe_249 {
    position: absolute;
    width: 178px;
    height: 28px;
    left: 819px;
    top: 4538px;
    overflow: visible;
}
#Understand_the_why {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 179px;
    height: 28px;
    line-height: 30px;
    margin-top: -6px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(77,102,136,1);
}
#Groupe_250 {
    position: absolute;
    width: 199px;
    height: 28px;
    left: 1055px;
    top: 4538px;
    overflow: visible;
}
#Set_goals__hypothesis {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 200px;
    height: 28px;
    line-height: 30px;
    margin-top: -6px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(77,102,136,1);
}
#I_just_wanted_to_share_a_quick {
    left: 1022.883px;
    top: 5580.207px;
    position: absolute;
    overflow: visible;
    width: 451.235px;
    height: 359.81005859375px;
    line-height: 35px;
    margin-top: -5px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(77,102,136,1);
}
#Groupe_252 {
    position: absolute;
    width: 162.039px;
    height: 22.832px;
    left: 1022.882px;
    top: 5526.497px;
    overflow: visible;
}
#star {
    fill: rgba(255,171,26,1);
}
.star {
    overflow: visible;
    position: absolute;
    width: 23.874px;
    height: 22.832px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#star_dh {
    fill: rgba(255,171,26,1);
}
.star_dh {
    overflow: visible;
    position: absolute;
    width: 23.874px;
    height: 22.832px;
    left: 34.541px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#star_di {
    fill: rgba(255,171,26,1);
}
.star_di {
    overflow: visible;
    position: absolute;
    width: 23.874px;
    height: 22.832px;
    left: 103.623px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#star_dj {
    fill: rgba(255,171,26,1);
}
.star_dj {
    overflow: visible;
    position: absolute;
    width: 23.874px;
    height: 22.832px;
    left: 69.082px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#star_dk {
    fill: rgba(255,171,26,1);
}
.star_dk {
    overflow: visible;
    position: absolute;
    width: 23.874px;
    height: 22.832px;
    left: 138.165px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Groupe_254 {
    position: absolute;
    width: 269.832px;
    height: 82.553px;
    left: 1022.441px;
    top: 6004.855px;
    overflow: visible;
}
#Michele_Smith {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 241.536px;
    height: 30.837987899780273px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    color: rgba(27,56,94,1);
}
#CDO_at_New_company {
    left: 0px;
    top: 51.715px;
    position: absolute;
    overflow: visible;
    width: 270.832px;
    height: 30.837987899780273px;
    line-height: 26px;
    margin-top: -4px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(77,102,136,1);
}
#Soustraction_13 {
    fill: rgba(23,113,255,1);
}
.Soustraction_13 {
    overflow: visible;
    position: absolute;
    width: 1743.028px;
    height: 671.47px;
    left: 177.473px;
    top: 6355.515px;
    transform: matrix(1,0,0,1,0,0);
}
#Soustraction_10 {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.259));
    position: absolute;
    width: 352.788px;
    height: 389.96px;
    left: 0px;
    top: 288.733px;
    overflow: visible;
}
#n_Mobile_Mobile-Charts_with_Gr {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.259));
    position: absolute;
    width: 434.794px;
    height: 369.036px;
    left: 16.005px;
    top: 625.281px;
    overflow: visible;
}
#n_Mobile_Mobile-Charts_with_Gr_dr {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.259));
    position: absolute;
    width: 373.511px;
    height: 440.332px;
    left: 978.078px;
    top: 732.334px;
    overflow: visible;
}
#n_Mobile_Mobile-Charts_with_Gr_ds {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.259));
    position: absolute;
    width: 334.18px;
    height: 393.931px;
    left: 1287.944px;
    top: 653.535px;
    overflow: visible;
}
#n_Mobile_Mobile-Charts_with_Gr_dt {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.259));
    position: absolute;
    width: 374.145px;
    height: 317.223px;
    left: 624.65px;
    top: 821.984px;
    overflow: visible;
}
#n_Desktop_Charts_-Charts_with_ {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.259));
    position: absolute;
    width: 347.376px;
    height: 486.676px;
    left: 1572.428px;
    top: 580.749px;
    overflow: visible;
}
#n_Mobile_Mobile-Charts_with_Gr_dv {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.259));
    position: absolute;
    width: 482.094px;
    height: 408.908px;
    left: 178px;
    top: 917.477px;
    overflow: visible;
}
#Groupe_236 {
    position: absolute;
    width: 186px;
    height: 27px;
    left: 1572px;
    top: 71px;
    overflow: visible;
}
#Free_Download {
    left: 0px;
    top: 2px;
    position: absolute;
    overflow: visible;
    width: 159px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.54px;
}
#Text {
    left: 173px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 14px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Font Awesome 5 Free;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.54px;
}
#n_Desktop_Charts_-Charts_with__dz {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.259));
    position: absolute;
    width: 582.169px;
    height: 415.999px;
    left: 1121.415px;
    top: 1067.001px;
    overflow: visible;
}
#asset-1 {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.259));
    position: absolute;
    width: 373.397px;
    height: 334.506px;
    left: 708.201px;
    top: 1094.98px;
    overflow: visible;
}
#Groupe_247 {
    position: absolute;
    width: 1346px;
    height: 526px;
    left: 178px;
    top: 2786px;
    overflow: visible;
}
#Groupe_244 {
    position: absolute;
    width: 552px;
    height: 406px;
    left: 794px;
    top: 66px;
    overflow: visible;
}
#Why_do_you_need_task_managemen {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 553px;
    height: 190px;
    line-height: 60px;
    margin-top: -5px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Do_you_waste_time_organizing_s {
    opacity: 0.7;
    left: 0px;
    top: 205px;
    position: absolute;
    overflow: visible;
    width: 553px;
    height: 133px;
    line-height: 30px;
    margin-top: -6px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255,255,255,1);
}
#Groupe_224 {
    position: absolute;
    width: 552px;
    height: 28px;
    left: 0px;
    top: 378px;
    overflow: visible;
}
#LEARN_MORE {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 553px;
    height: 28px;
    line-height: 30px;
    margin-top: -6px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255,255,255,1);
}
#long-arrow-pointing-to-the-rig {
    position: absolute;
    width: 26.438px;
    height: 11.749px;
    left: 132.459px;
    top: 5.751px;
    overflow: visible;
}
#Trac_372 {
    fill: rgba(204,229,246,1);
}
.Trac_372 {
    overflow: visible;
    position: absolute;
    width: 26.438px;
    height: 11.749px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#n_Desktop_Charts_-Charts_with__d {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.141));
    position: absolute;
    width: 584px;
    height: 323px;
    left: 108px;
    top: 203px;
    overflow: visible;
}
#n_Desktop_Charts_-Charts_with__ea {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.149));
    position: absolute;
    width: 525px;
    height: 290px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Groupe_246 {
    position: absolute;
    width: 1400px;
    height: 554px;
    left: 390px;
    top: 3472px;
    overflow: visible;
}
#Groupe_245 {
    position: absolute;
    width: 552px;
    height: 406px;
    left: 0px;
    top: 74px;
    overflow: visible;
}
#Why_do_you_need_task_managemen_ed {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 553px;
    height: 190px;
    line-height: 60px;
    margin-top: -5px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Do_you_waste_time_organizing_s_ee {
    opacity: 0.7;
    left: 0px;
    top: 205px;
    position: absolute;
    overflow: visible;
    width: 553px;
    height: 133px;
    line-height: 30px;
    margin-top: -6px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255,255,255,1);
}
#Groupe_224_ef {
    position: absolute;
    width: 552px;
    height: 28px;
    left: 0px;
    top: 378px;
    overflow: visible;
}
#LEARN_MORE_eg {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 553px;
    height: 28px;
    line-height: 30px;
    margin-top: -6px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255,255,255,1);
}
#long-arrow-pointing-to-the-rig_eh {
    position: absolute;
    width: 26.438px;
    height: 11.749px;
    left: 132.459px;
    top: 5.751px;
    overflow: visible;
}
#Trac_372_ei {
    fill: rgba(204,229,246,1);
}
.Trac_372_ei {
    overflow: visible;
    position: absolute;
    width: 26.438px;
    height: 11.749px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#n_Mobile_Mobile-Charts_with_Gr_ej {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.161));
    position: absolute;
    width: 489.04px;
    height: 367.758px;
    left: 719.168px;
    top: 186.242px;
    overflow: visible;
}
#n_Mobile_Mobile-Charts_with_Gr_ek {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.161));
    position: absolute;
    width: 434.77px;
    height: 326.947px;
    left: 965.23px;
    top: 0px;
    overflow: visible;
}
#Groupe_251 {
    position: absolute;
    width: 552px;
    height: 370px;
    left: 390px;
    top: 4676px;
    overflow: visible;
}
#Why_do_you_need_task_managemen_em {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 456px;
    height: 149px;
    line-height: 49px;
    margin-top: -4.5px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(27,56,94,1);
}
#Do_you_waste_time_organizing_s_en {
    left: 0px;
    top: 169px;
    position: absolute;
    overflow: visible;
    width: 553px;
    height: 120px;
    line-height: 30px;
    margin-top: -6px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(77,102,136,1);
}
#Groupe_224_eo {
    position: absolute;
    width: 552px;
    height: 28px;
    left: 0px;
    top: 342px;
    overflow: visible;
}
#LEARN_MORE_ep {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 553px;
    height: 28px;
    line-height: 30px;
    margin-top: -6px;
    text-align: left;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(27,56,94,1);
}
#long-arrow-pointing-to-the-rig_eq {
    position: absolute;
    width: 26.438px;
    height: 11.749px;
    left: 132.459px;
    top: 5.751px;
    overflow: visible;
}
#Trac_372_er {
    fill: rgba(19,112,246,1);
}
.Trac_372_er {
    overflow: visible;
    position: absolute;
    width: 26.438px;
    height: 11.749px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Groupe_de_masques_2 {
    position: absolute;
    width: 582px;
    height: 417px;
    left: 942px;
    top: 4676px;
    overflow: visible;
}
#Rectangle_561 {
    filter: drop-shadow(0px 50px 50px rgba(0, 112, 194, 0.161));
    position: absolute;
    width: 582px;
    height: 417px;
    left: 942px;
    top: 4676px;
    overflow: visible;
}
#youtube {
    position: absolute;
    width: 86px;
    height: 60.523px;
    left: 1190px;
    top: 4853.821px;
    overflow: visible;
}
#XMLID_823_ {
    fill: rgba(19,112,246,1);
}
.XMLID_823_ {
    overflow: visible;
    position: absolute;
    width: 86px;
    height: 60.523px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_565 {
    fill: rgba(255,255,255,1);
}
.Rectangle_565 {
    filter: drop-shadow(50px 50px 50px rgba(0, 112, 194, 0.141));
    position: absolute;
    overflow: visible;
    width: 702px;
    height: 885px;
    left: 390px;
    top: 5439px;
}
#Groupe_de_masques_3 {
    position: absolute;
    width: 552px;
    height: 735.067px;
    left: 390px;
    top: 5439px;
    overflow: visible;
}
#play-button {
    fill: rgba(255,255,255,1);
}
.play-button {
    overflow: visible;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 785px;
    top: 6051px;
    transform: matrix(1,0,0,1,0,0);
}
